---
regex: !meetups?
server: Tex Mechs
description: Explains why we're not having meetups during covid
---

Out of an abundance of caution regarding community spread of COVID, large-scale meetups are postponed indefinitely.

Meanwhile, there's nothing stopping you from organizing a small "mini" meetup for you and a couple people in your area. Just find a place that:
- Is centrally located
- Has plenty of space (think a restaurant with a patio or a bar with picnic tables)
- Has parking
Post a time/place, gauge interest, and be mindful of how large your crowd is.