---
command: !40s
server: Tex Mechs
description: 40s
---

{{ $orig := "You guys always kill me because it's like you come up with a funny idea for a keyboard meme product and then someone spends actual effort mocking it up or making a CAD model and then someone decides to actually make it and you spend real money on it because nobody had the sense to just say \"this is actually stupid\" somewhere along the way" }}
{{ $owo := "u guys awways kiww me because it's wike u come up with a funny idea fow a keyboawd meme pwoduct and then someone spends actuaw effowt mocking it up ow making a cad modew and then someone decides to actuawwy make it and u spend weaw money on it because nobody had da sense to just say \"this ish actuawwy stupid\" somewhewe awong da way" }}
{{ $emoji := "You 👈 guys 👬 always 😩 kill 🔪 me 💖 because 🙆🏽 it's like 🤠 you 😣👉 come 💃 up 📈 with a funny 😃 idea 💡 for 📓🔞🎁 a keyboard ⌨ meme 😂👌 product 👟👟 and then 😂 someone 👆👆 spends actual ❗❗ effort 🏋️‍♂️ mocking it up ☝️🔝 or making 🌟 a CAD model 🦋🧚🏼‍♀️👑🌸 and then 🤖🤖 someone 👬 decides to actually 🚟 make 💘 it and you 👈🏼 spend 🎈 real 💯 money 📉 on 🍆🔛 it because 🤔 nobody 🙄 had 😴 the sense ⬜⬜⬜ to just 😫 say 😩 \"this is actually 😥 stupid\" 🤦‍♂️ somewhere 🤓 along 🔝🔚 the way 🌌" }}
{{ $scrambled := "You gyus ayawls klil me beuacse i'ts lkie you cmoe up wtih a fnnuy ieda for a keaobyrd mmee prudoct and tehn sooemne sdneps aautcl erofft moikcng it up or mnikag a CAD medol and tehn sooemne dedices to aclautly mkae it and you snepd rael menoy on it beuacse ndoboy had the ssnee to jsut say \"ihts is aclautly stipud\" soehwemre anolg the way" }}
{{ $spongemock := "YOu gUys aLwAys kill me BEcAUSE iT's Like You Come uP wItH a fUNnY IDeA fOR a KeYbOArd MeMe prodUCT And tHeN SOmEOnE Spends AcTUaL EFfoRt mocKINg IT uP Or MaKIng A cad MoDEL AnD THeN SoMEoNe DecIDes TO aCTualLy MAKE it ANd yoU spEND REaL mONEY oN iT BECaUSe NOboDY Had The SENSE to JusT SAY \"this IS aCTuAlLy sTuPID\" soMEwHERe aloNg thE Way" }}
{{ $tiny := "ʸᵒᵘ ᵍᵘʸˢ ᵃˡʷᵃʸˢ ᵏᶦˡˡ ᵐᵉ ᵇᵉᶜᵃᵘˢᵉ ᶦᵗ'ˢ ˡᶦᵏᵉ ʸᵒᵘ ᶜᵒᵐᵉ ᵘᵖ ʷᶦᵗʰ ᵃ ᶠᵘⁿⁿʸ ᶦᵈᵉᵃ ᶠᵒʳ ᵃ ᵏᵉʸᵇᵒᵃʳᵈ ᵐᵉᵐᵉ ᵖʳᵒᵈᵘᶜᵗ ᵃⁿᵈ ᵗʰᵉⁿ ˢᵒᵐᵉᵒⁿᵉ ˢᵖᵉⁿᵈˢ ᵃᶜᵗᵘᵃˡ ᵉᶠᶠᵒʳᵗ ᵐᵒᶜᵏᶦⁿᵍ ᶦᵗ ᵘᵖ ᵒʳ ᵐᵃᵏᶦⁿᵍ ᵃ ᶜᴬᴰ ᵐᵒᵈᵉˡ ᵃⁿᵈ ᵗʰᵉⁿ ˢᵒᵐᵉᵒⁿᵉ ᵈᵉᶜᶦᵈᵉˢ ᵗᵒ ᵃᶜᵗᵘᵃˡˡʸ ᵐᵃᵏᵉ ᶦᵗ ᵃⁿᵈ ʸᵒᵘ ˢᵖᵉⁿᵈ ʳᵉᵃˡ ᵐᵒⁿᵉʸ ᵒⁿ ᶦᵗ ᵇᵉᶜᵃᵘˢᵉ ⁿᵒᵇᵒᵈʸ ʰᵃᵈ ᵗʰᵉ ˢᵉⁿˢᵉ ᵗᵒ ʲᵘˢᵗ ˢᵃʸ \"ᵗʰᶦˢ ᶦˢ ᵃᶜᵗᵘᵃˡˡʸ ˢᵗᵘᵖᶦᵈ\" ˢᵒᵐᵉʷʰᵉʳᵉ ᵃˡᵒⁿᵍ ᵗʰᵉ ʷᵃʸ" }}
{{ $fancy := "𝔜𝔬𝔲 𝔤𝔲𝔶𝔰 𝔞𝔩𝔴𝔞𝔶𝔰 𝔨𝔦𝔩𝔩 𝔪𝔢 𝔟𝔢𝔠𝔞𝔲𝔰𝔢 𝔦𝔱'𝔰 𝔩𝔦𝔨𝔢 𝔶𝔬𝔲 𝔠𝔬𝔪𝔢 𝔲𝔭 𝔴𝔦𝔱𝔥 𝔞 𝔣𝔲𝔫𝔫𝔶 𝔦𝔡𝔢𝔞 𝔣𝔬𝔯 𝔞 𝔨𝔢𝔶𝔟𝔬𝔞𝔯𝔡 𝔪𝔢𝔪𝔢 𝔭𝔯𝔬𝔡𝔲𝔠𝔱 𝔞𝔫𝔡 𝔱𝔥𝔢𝔫 𝔰𝔬𝔪𝔢𝔬𝔫𝔢 𝔰𝔭𝔢𝔫𝔡𝔰 𝔞𝔠𝔱𝔲𝔞𝔩 𝔢𝔣𝔣𝔬𝔯𝔱 𝔪𝔬𝔠𝔨𝔦𝔫𝔤 𝔦𝔱 𝔲𝔭 𝔬𝔯 𝔪𝔞𝔨𝔦𝔫𝔤 𝔞 ℭ𝔄𝔇 𝔪𝔬𝔡𝔢𝔩 𝔞𝔫𝔡 𝔱𝔥𝔢𝔫 𝔰𝔬𝔪𝔢𝔬𝔫𝔢 𝔡𝔢𝔠𝔦𝔡𝔢𝔰 𝔱𝔬 𝔞𝔠𝔱𝔲𝔞𝔩𝔩𝔶 𝔪𝔞𝔨𝔢 𝔦𝔱 𝔞𝔫𝔡 𝔶𝔬𝔲 𝔰𝔭𝔢𝔫𝔡 𝔯𝔢𝔞𝔩 𝔪𝔬𝔫𝔢𝔶 𝔬𝔫 𝔦𝔱 𝔟𝔢𝔠𝔞𝔲𝔰𝔢 𝔫𝔬𝔟𝔬𝔡𝔶 𝔥𝔞𝔡 𝔱𝔥𝔢 𝔰𝔢𝔫𝔰𝔢 𝔱𝔬 𝔧𝔲𝔰𝔱 𝔰𝔞𝔶 \"𝔱𝔥𝔦𝔰 𝔦𝔰 𝔞𝔠𝔱𝔲𝔞𝔩𝔩𝔶 𝔰𝔱𝔲𝔭𝔦𝔡\" 𝔰𝔬𝔪𝔢𝔴𝔥𝔢𝔯𝔢 𝔞𝔩𝔬𝔫𝔤 𝔱𝔥𝔢 𝔴𝔞𝔶" }}
{{ $vaporwave := "Ｙｏｕ　ｇｕｙｓ　ａｌｗａｙｓ　ｋｉｌｌ　ｍｅ　ｂｅｃａｕｓｅ　ｉｔ＇ｓ　ｌｉｋｅ　ｙｏｕ　ｃｏｍｅ　ｕｐ　ｗｉｔｈ　ａ　ｆｕｎｎｙ　ｉｄｅａ　ｆｏｒ　ａ　ｋｅｙｂｏａｒｄ　ｍｅｍｅ　ｐｒｏｄｕｃｔ　ａｎｄ　ｔｈｅｎ　ｓｏｍｅｏｎｅ　ｓｐｅｎｄｓ　ａｃｔｕａｌ　ｅｆｆｏｒｔ　ｍｏｃｋｉｎｇ　ｉｔ　ｕｐ　ｏｒ　ｍａｋｉｎｇ　ａ　ＣＡＤ　ｍｏｄｅｌ　ａｎｄ　ｔｈｅｎ　ｓｏｍｅｏｎｅ　ｄｅｃｉｄｅｓ　ｔｏ　ａｃｔｕａｌｌｙ　ｍａｋｅ　ｉｔ　ａｎｄ　ｙｏｕ　ｓｐｅｎｄ　ｒｅａｌ　ｍｏｎｅｙ　ｏｎ　ｉｔ　ｂｅｃａｕｓｅ　ｎｏｂｏｄｙ　ｈａｄ　ｔｈｅ　ｓｅｎｓｅ　ｔｏ　ｊｕｓｔ　ｓａｙ　\"ｔｈｉｓ　ｉｓ　ａｃｔｕａｌｌｙ　ｓｔｕｐｉｄ\"　ｓｏｍｅｗｈｅｒｅ　ａｌｏｎｇ　ｔｈｅ　ｗａｙ" }}
{{ $cursive := "𝓨𝓸𝓾 𝓰𝓾𝔂𝓼 𝓪𝓵𝔀𝓪𝔂𝓼 𝓴𝓲𝓵𝓵 𝓶𝓮 𝓫𝓮𝓬𝓪𝓾𝓼𝓮 𝓲𝓽'𝓼 𝓵𝓲𝓴𝓮 𝔂𝓸𝓾 𝓬𝓸𝓶𝓮 𝓾𝓹 𝔀𝓲𝓽𝓱 𝓪 𝓯𝓾𝓷𝓷𝔂 𝓲𝓭𝓮𝓪 𝓯𝓸𝓻 𝓪 𝓴𝓮𝔂𝓫𝓸𝓪𝓻𝓭 𝓶𝓮𝓶𝓮 𝓹𝓻𝓸𝓭𝓾𝓬𝓽 𝓪𝓷𝓭 𝓽𝓱𝓮𝓷 𝓼𝓸𝓶𝓮𝓸𝓷𝓮 𝓼𝓹𝓮𝓷𝓭𝓼 𝓪𝓬𝓽𝓾𝓪𝓵 𝓮𝓯𝓯𝓸𝓻𝓽 𝓶𝓸𝓬𝓴𝓲𝓷𝓰 𝓲𝓽 𝓾𝓹 𝓸𝓻 𝓶𝓪𝓴𝓲𝓷𝓰 𝓪 𝓒𝓐𝓓 𝓶𝓸𝓭𝓮𝓵 𝓪𝓷𝓭 𝓽𝓱𝓮𝓷 𝓼𝓸𝓶𝓮𝓸𝓷𝓮 𝓭𝓮𝓬𝓲𝓭𝓮𝓼 𝓽𝓸 𝓪𝓬𝓽𝓾𝓪𝓵𝓵𝔂 𝓶𝓪𝓴𝓮 𝓲𝓽 𝓪𝓷𝓭 𝔂𝓸𝓾 𝓼𝓹𝓮𝓷𝓭 𝓻𝓮𝓪𝓵 𝓶𝓸𝓷𝓮𝔂 𝓸𝓷 𝓲𝓽 𝓫𝓮𝓬𝓪𝓾𝓼𝓮 𝓷𝓸𝓫𝓸𝓭𝔂 𝓱𝓪𝓭 𝓽𝓱𝓮 𝓼𝓮𝓷𝓼𝓮 𝓽𝓸 𝓳𝓾𝓼𝓽 𝓼𝓪𝔂 \"𝓽𝓱𝓲𝓼 𝓲𝓼 𝓪𝓬𝓽𝓾𝓪𝓵𝓵𝔂 𝓼𝓽𝓾𝓹𝓲𝓭\" 𝓼𝓸𝓶𝓮𝔀𝓱𝓮𝓻𝓮 𝓪𝓵𝓸𝓷𝓰 𝓽𝓱𝓮 𝔀𝓪𝔂" }}
{{ $aussie := "ʎɐʍ ǝɥʇ ɓuolɐ ǝɹǝɥʍǝɯos „pıdnʇs ʎllɐnʇɔɐ sı sıɥʇ„ ʎɐs ʇsnɾ oʇ ǝsuǝs ǝɥʇ pɐɥ ʎpoqou ǝsnɐɔǝq ʇı uo ʎǝuoɯ lɐǝɹ puǝds noʎ puɐ ʇı ǝʞɐɯ ʎllɐnʇɔɐ oʇ sǝpıɔǝp ǝuoǝɯos uǝɥʇ puɐ lǝpoɯ ᗡ∀Ɔ ɐ ɓuıʞɐɯ ɹo dn ʇı ɓuıʞɔoɯ ʇɹoɟɟǝ lɐnʇɔɐ spuǝds ǝuoǝɯos uǝɥʇ puɐ ʇɔnpoɹd ǝɯǝɯ pɹɐoqʎǝʞ ɐ ɹoɟ ɐǝpı ʎuunɟ ɐ ɥʇıʍ dn ǝɯoɔ noʎ ǝʞıl s,ʇı ǝsnɐɔǝq ǝɯ llıʞ sʎɐʍlɐ sʎnɓ no⅄" }}
{{ $typewriter := "𝚈𝚘𝚞 𝚐𝚞𝚢𝚜 𝚊𝚕𝚠𝚊𝚢𝚜 𝚔𝚒𝚕𝚕 𝚖𝚎 𝚋𝚎𝚌𝚊𝚞𝚜𝚎 𝚒𝚝'𝚜 𝚕𝚒𝚔𝚎 𝚢𝚘𝚞 𝚌𝚘𝚖𝚎 𝚞𝚙 𝚠𝚒𝚝𝚑 𝚊 𝚏𝚞𝚗𝚗𝚢 𝚒𝚍𝚎𝚊 𝚏𝚘𝚛 𝚊 𝚔𝚎𝚢𝚋𝚘𝚊𝚛𝚍 𝚖𝚎𝚖𝚎 𝚙𝚛𝚘𝚍𝚞𝚌𝚝 𝚊𝚗𝚍 𝚝𝚑𝚎𝚗 𝚜𝚘𝚖𝚎𝚘𝚗𝚎 𝚜𝚙𝚎𝚗𝚍𝚜 𝚊𝚌𝚝𝚞𝚊𝚕 𝚎𝚏𝚏𝚘𝚛𝚝 𝚖𝚘𝚌𝚔𝚒𝚗𝚐 𝚒𝚝 𝚞𝚙 𝚘𝚛 𝚖𝚊𝚔𝚒𝚗𝚐 𝚊 𝙲𝙰𝙳 𝚖𝚘𝚍𝚎𝚕 𝚊𝚗𝚍 𝚝𝚑𝚎𝚗 𝚜𝚘𝚖𝚎𝚘𝚗𝚎 𝚍𝚎𝚌𝚒𝚍𝚎𝚜 𝚝𝚘 𝚊𝚌𝚝𝚞𝚊𝚕𝚕𝚢 𝚖𝚊𝚔𝚎 𝚒𝚝 𝚊𝚗𝚍 𝚢𝚘𝚞 𝚜𝚙𝚎𝚗𝚍 𝚛𝚎𝚊𝚕 𝚖𝚘𝚗𝚎𝚢 𝚘𝚗 𝚒𝚝 𝚋𝚎𝚌𝚊𝚞𝚜𝚎 𝚗𝚘𝚋𝚘𝚍𝚢 𝚑𝚊𝚍 𝚝𝚑𝚎 𝚜𝚎𝚗𝚜𝚎 𝚝𝚘 𝚓𝚞𝚜𝚝 𝚜𝚊𝚢 \"𝚝𝚑𝚒𝚜 𝚒𝚜 𝚊𝚌𝚝𝚞𝚊𝚕𝚕𝚢 𝚜𝚝𝚞𝚙𝚒𝚍\" 𝚜𝚘𝚖𝚎𝚠𝚑𝚎𝚛𝚎 𝚊𝚕𝚘𝚗𝚐 𝚝𝚑𝚎 𝚠𝚊𝚢" }}

{{ $responses := cslice $orig $owo $emoji $scrambled $spongemock $tiny $fancy $vaporwave $cursive $aussie $typewriter}}
{{ $choice := randInt (sub (len $responses) 1) }}
{{ index $responses $choice }}